*.swp
*.swo
*.un~
files/.config/configstore
files/.config/gcloud
files/.config/pgcli
files/.config/direnv
files/.ivy2/
files/.sbt/0.13/plugins/project/
files/.sbt/0.13/plugins/target/
files/.sbt/boot/
files/.sbt/launchers
files/.tmux/plugins
files/.vim/bundle/vundle
files/.vim/sessions
target/

dot/ivy2/*.lock
dot/ivy2/cache
dot/sbt/boot
dot/sbt/preloaded

config/pgcli/history
config/pgcli/log
config/vim/dein
config/vim/cache_vim
config/vim/repos
config/vim/state_vim.vim
