*.swp
*.swo
*.un~
files/.config/configstore
files/.config/gcloud
files/.ivy2/
files/.sbt/0.13/plugins/project/
files/.sbt/0.13/plugins/target/
files/.sbt/boot/
files/.sbt/launchers
files/.tmux/plugins
files/.vim/bundle/vundle
files/.vim/dein/
files/.vim/sessions
target/
